p,
h3,
h4 {
  margin: 0;
}

body {
  display: flex;
  flex-direction: row;
}

#home-page {
  padding: 10px;
  width: 500px;
  border: 4px;
  border-style: solid;
  border-radius: 5px;
  margin-left: 20px;
}

#home-page-heading {
  display: flex;
  align-items: center;
  justify-content: center;
}

#payment-page {
  width: 1000px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

#banner {
  width: 90%;
}

#choice-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  height: 600px;
}

.choice {
  display: flex;
  flex-direction: row;
  padding: 10px;
  border: 2px;
  border-style: solid;
  border-radius: 5px;
}

.thmb {
  width: 100px;
  height: 160px;
  align-self: center;
}

#choice-container div {
  margin-top: 10px;
  margin-bottom: 10px;
}

.item-info {
  align-self: center;
  padding: 5px;
  margin-left: 5px;
  width: 250px;
}

.item-info-top h4 {
  width: 90%;
  padding: 5px;
  border: 2px;
  border-style: solid;
  border-radius: 5px;
  text-align: center;
}

.item-info-bot {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.item-info-bot h3 {
  width: 100px;
  padding: 5px;
  border: 2px;
  border-style: solid;
  border-radius: 5px;

  text-align: center;
  margin-left: -5px;
}

.select-btn {
  font-size: 15px;
  padding: 5px;
  width: 100px;
  height: 35px;
  margin-right: 5px;
  background-color: white;
}

#random-img {
  width: 100px;
  height: 100px;
}

#checkout {
  width: 400px;
  height: 50px;
  position: absolute;
  background-color: aqua;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  bottom: 35px;
  left: 80px;

  border-radius: 10px;
}

#checkOutButton {
  margin-left: 20px;
  padding: 5px;
}

#payment-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: baseline;
}

#payment {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 80px;
  right: 350px;
  width: 400px;
  height: 600px;

  background-color: aqua;
  border: 2px;
  border-style: solid;
  border-radius: 10px;
}

#payment-header {
  display: flex;
  flex-direction: row;
  margin-left: 110px;
  margin-top: 20px;
}

#banner-logo {
  width: 100px;
  border-radius: 50%;
}
